



<div class="row">
	<div class="col-md-6">
		<h1>我的個人記帳簿</h1>		
	</div>
<!-- message  -->


		<%if flash[:notice]!=nil%>
		<div class="col-md-4 alert alert-success"><h4><%=flash[:notice]%></h4></div>
		<%end%>

		<%if flash[:warning]!=nil%>
		<div class="col-md-4 alert alert-warning"><h4><%=flash[:warning]%></h4></div>
		<%end%>

</div>
<div class="row">
	<div class="col-md-12">
		<%= link_to "新增類別",categories_path%>
	</div>
</div>

<!--- index and edit pages -->

<% url_hash = (@ab.id == nil)? {:url => ab_index_path(@ab)} : {:url => ab_path(@ab), :method => "patch"} %>

<div class="row">
	<div class="col-md-12">
	<%= form_for @ab, url_hash do |form|%>
		<table class="table table-condensed form-table">
			<tr class="ab_row">
				<td>消費時間	</td>
				<td>描述		</td>
				<td>費用		</td>
				<td>主項目	</td>
				<td>副項目	</td>
				<td>其他項目 </td>
				<td>消費方式 </td>
				<td>備註</td>				
			</tr>
			<tr class="ab_row">
				<% warning_hash = {} %>
				<% warning_hash[:style] =  (@ab.errors.any?)? "border:1px solid red;": "" %>
				<td class="ab-col-date">
					<%= form.date_field :consume_date,value: Date.today%>
				</td>	
				<td class="ab-col-desc">
					<%= form.text_field :description, warning_hash %>
				</td>		
				<td class="ab-col-cost">
					<%= form.number_field :cost, warning_hash %> 		
				</td>
				<td class="ab-col-main"><%= form.collection_select(:main_class_id, MainClass.all, :id, :name)%>
				<td class="ab-col-sub"><%= form.collection_select(:subclass_id, Subclass.all, :id, :name) %></td>
				<td class="ab-col-third"><%= form.collection_select(:third_class_id, ThirdClass.all, :id, :name) %></td>		
				<td class="ab-col-consume"><%= form.collection_select(:consume_way_id, ConsumeWay.all, :id, :name) %></td>		
				<td class="ab-col-note"><%= form.text_field :note %></td>
				<%# form.submit "新增",:class=>"btn btn-success" %>
				
				<% if @ab.id == nil %>
					<td colspan="3"><%=link_to "新增項目", "#", :onclick => "$('#new_accounting_book').submit()", :class => "glyphicon glyphicon-plus" %>
					</td>		
				<% else %>
					<td><%= form.submit '更新', :class => 'btn btn-warning'%></td>
					<td><%= link_to '取消', ab_index_path, :class => 'btn btn-info cancel-update'%></td>
					<!-- <td colspan="3"><%#button_to "更新", "#", :onclick => "$('#new_accounting_book').submit()", :class => "glyphicon glyphicon-plus" %></td>		 -->
				<% end %>						
				</tr>
		</table>
	<% end %><!-- form -->

	</div><!-- col-md-12 -->
</div><!-- row -->


<!-- data content -->
<div class="row data-row">
	<div class="col-md-12 data-table">
		<table class="table table-striped table-hover table-condensed text-center">
			<tr>
				<td>編號		</td>
				<td>消費時間	</td>
				<td>描述		</td>
				<td>費用		</td>
				<td>主項目	</td>
				<td>副項目	</td>
				<td>其他項目 </td>
				<td>消費方式 </td>
				<td>備註</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>

			<% count = 1 %>
			<% @abs.each do |ab| %>
				<% if @ab == ab %>
				<tr class="ab_row danger">
				<% else %>
				<tr class="ab_row">
				<% end %>
					<td class="ab-col-index"><%=count %>              </td>
					<td class="ab-col-date"><%=ab.consume_date %>    </td>
					<td class="ab-col-desc"><%=ab.description %>     </td>
					<td class="ab-col-cost"><%=ab.cost %> 			 </td>
					<td class="ab-col-main"><%=ab.main_class_name %>   </td>
					<td class="ab-col-sub"><%=ab.subclass_name %>     </td>
					<td class="ab-col-third"><%=ab.third_class_name %>  </td>
					<td class="ab-col-consume"><%=ab.consume_way_name %>  </td>
					<td class="ab-col-note"><%=ab.note %>      		</td>
					<td class="ab_col-btn1">
						<%if @ab.id==nil %>
						<%=link_to "顯示", "#", :class=>"btn btn-info btn-show-ab", :"data-toggle"=>"modal", :"data-target"=>"#myModal", :type=>"button" %> 
						<% end %>
					</td>

					<td class="ab_col-btn2">
						<%if @ab.id==nil %>
						<%=link_to "修改", edit_ab_path(ab), :class=>"btn btn-warning" %>
						<% end %>
					</td>

					<td class="ab_col-btn3">
						<%if @ab.id==nil %>
						<%=button_to "移除", ab_path(ab), :method => :delete, data: { confirm: "Are you sure?"},  :class =>"btn btn-danger" %> 
						<% end %>
					</td>
				</tr>
				<% count += 1 %>
			<% end %><!-- @abs.each -->					

		</table>
	</div>
</div>

<%= paginate @abs %>




<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"> -->
  <!-- Launch demo modal -->
<!-- </button> -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"> description</h4>
      </div>
      <div class="modal-body">
			<table class='table table-hover'>
				<tr><td>消費日期 </td><td>  consume_date </td></tr>
				<!-- <tr><td>描述		</td><td>  description  </td></tr> -->
				<tr><td>費用    </td><td>  cost 			</td></tr>
				<tr><td>主項目   </td><td>  main_class	</td></tr>
				<tr><td>副項目   </td><td>  subclass		</td></tr>
				<tr><td>其他項目  </td><td>  third_class	</td></tr>
				<tr><td>消費方式  </td><td>  consume_way	</td></tr>
				<tr><td>備註     </td><td>  note			</td></tr>
			</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>




